{% extends "default.html" %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    {{ news.title }}
{% endblock title %}

{% block content %}
  <h1>{{ news.title|censor }}</h1>
  <p>Дата публикации: {{ news.created_at|date:"d.m.Y" }}</p>
  <p>{{ news.text|censor }}</p>

<h2>Категории:</h2>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                {% if user.is_authenticated %}
                    {% if user in category.subscribers.all %}
                        <span>(Вы подписаны)</span>
                    {% else %}
                        <form method="post" action="{% url 'subscribe_to_category' category.id %}">
                            {% csrf_token %}
                            <button type="submit">Подписаться на {{ category.name }}</button>
                        </form>
                    {% endif %}
                {% else %}
                    <span>(Войдите, чтобы подписаться)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

  <h2>Комментарии</h2>
  <ul>
    {% for comment in news.comment_set.all %}
      <li>
        <p>{{ comment.user.username }} ({{ comment.created_at }}): {{ comment.text }}</p>
        <p>Рейтинг: {{ comment.rating }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}